@font-face {
    font-family: 'mona-sans';
    /* Specify a name for your font */
    src: url('fonts/Mona-Sans.ttf') format('truetype');
    /* Path to your font files */

    /* Add more src lines for additional formats if needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
}




.header {
    background-color: #0E1947;
    /* height: 80px; */
    display: flex;
    align-items: center;
    /* padding-left: 30px; */
    justify-content: space-between;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 14px;
}

.logo img:last-child {
    margin-right: 0;
}

.logo .logo {
    width: 25px;
}

.logo .logo2 {
    width: 130px;
    height: 20px;
}

nav {
    background: #0E1947;
    text-align: right;
    color: white;



}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    font-family: 'mona-sans', sans-serif;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

#button {
    width: auto;
    background-color: #EE4312;
    /* height: 50px; */
    border-radius: 8px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-links li .firstlink {
    color: #FF5F31;
}



/*.........section1......*/

.container1 {
    background-color: #0E1947;
    display: flex;
    width: 1400;
}
.text {
    margin-top: 80px;
    margin-left: 30px;
    
}
.text h1 {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'mona-sans', sans-serif;
    
}
.text p {
    font-size: 18px;
    color:  #E2DEDC;
    font-family: 'mona-sans', sans-serif;
    
}
.image-container {
    position: relative;
    margin-right: 30px;
    
}

.second-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 344px;
    /* Add more styling as needed */
}
.first-image {
    width: 350px;
    height: 344px;
    border-radius: 0px, 0px, 24px, 24px;
}


