@font-face {
  font-family: "mona-sans";
  /* Specify a name for your font */
  src: url("fonts/Mona-Sans.ttf") format("truetype");
  /* Path to your font files */

  /* Add more src lines for additional formats if needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0e1947;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  /* height: 80px; */
  display: flex;
  align-items: center;
  /* padding-left: 30px; */
  justify-content: space-between;
}
.hero-section {
  background-color: #0e1947;
  color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-top: 130px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 14px;
}

.logo img:last-child {
  margin-right: 0;
}

.logo .logo {
  width: 25px;
}

.logo .logo2 {
  width: 130px;
  height: 20px;
}

nav {
  background: #0e1947;
  text-align: right;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-family: "mona-sans", sans-serif;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

#button {
  width: auto;
  background-color: #ee4312;
  /* height: 50px; */
  border-radius: 8px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-links li .firstlink {
  color: #ff5f31;
}

/*.........section1......*/

.container1 {
  display: flex;
  margin: auto;
  gap: 100px;
}
.text {
  padding: 30px 2px;
  flex-basis: 60%;
}
.text h1 {
  font-size: 64px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "mona-sans", sans-serif;
}
.text p {
  font-size: 18px;
  color: #e2dedc;
  font-family: "mona-sans", sans-serif;
  line-height: 40px;
}
.image-container {
  position: relative;
  flex-basis: 50%;
}

.hero-section-image {
  position: absolute;
  width: 95%;
  right: 15%;
  top: 5%;
}
.first-image {
  max-width: 100%;
  width: 500px;
  /* height: 344px; */
  border-radius: 0px, 0px, 24px, 24px;
}
.icons1 {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start; /* Aligns items to the left */
  gap: 10px; /* Adds space between h3 and h4, adjust this value as needed */
  margin-top: 50px;
  margin-bottom: 40px;
}
.btn {
  padding: 15px;
  font-size: 17px;
  border-radius: 8px;
  font-family: "mona-sans", sans-serif;
  font-weight: 500;
}
.collaborate-btn {
  border: 2px solid #ee4312;
  padding: 15px;
  color: white;
  background-color: #ee4312;
  border-radius: 8px;
  width: 200px;
  gap: 10px;
}

.icons1 .learnmore-btn {
  border: 1px solid #ee4312;
  width: 145px;
  padding: 15px;
  border-radius: 8px;
  color: #ee4312;

  background-color: transparent;
}

.border {
  border-bottom: 2px solid #ee4312;
}

.biggerdiv {
  display: flex;
  width: 100%;
  margin-top: 80px;
  justify-content: space-between;
}
.biggerdiv .div1 h5 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  font-family: "mona-sans", sans-serif;
}
.div2 h5 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  font-family: "mona-sans", sans-serif;
}
.biggerdiv p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: "mona-sans", sans-serif;
}

/*.........offer section.....*/

.offer {
  background-color: #f5f7ff;
  padding: 90px 40px;
  position: relative;
}
.offer-dotted-image {
  position: absolute;
  right: 3%;
}
.offertext {
  background-color: #f5f7ff;
  padding-left: 70px;
}

.offertext h1 {
  font-size: 43px;
  color: black;
  line-height: 30px;
  font-weight: 700;
  font-family: "mona-sans", sans-serif;
}
.offertext p {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "mona-sans", sans-serif;
}
.offer2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #f5f7ff;
  /* border: 1px solid red; */
  gap: 150px;
}
.offer3 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  background-color: #f5f7ff;
  /* border: 1px solid red; */
  gap: 150px;
}
.offercontainer1 {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1; */
}
.offerx {
  margin-top: 80px;
}
.offercontainer1 h1 {
  font-size: 27px;
  color: black;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  font-family: "mona-sans", sans-serif;
}
.offercontainer1 p {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: rgb(75, 84, 94);
  font-weight: 400;
  margin-top: 20px;
  font-family: "mona-sans", sans-serif;
}
.offercontainer1 img {
  display: flex;
  /* padding-left: 50px; */

  padding-bottom: 30px;

  width: 100px;
}
.technologysection {
  background-color: #0e1947;
  padding-bottom: 80px;
}

/*--------technology-----*/
.technologysection {
  font-family: "mona-sans", sans-serif;
}

.technology {
  display: flex;
  justify-content: center;
  gap: 10%;
  /* border: 2px solid red;  */
}
.technologytext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-left: 100px;
}
.technologytext h1 {
  color: white;
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
  font-family: "mona-sans", sans-serif;
}
.technologytext p {
  color: white;
  margin-top: 80px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  margin-top: 20px;
  font-family: "mona-sans", sans-serif;
}
.technologyimage {
  flex: 1;
}

.logotech {
  color: white;
  margin-top: 70px;
  border: 2px solid #ee4312;
  /* width: 100px; */
  width: 20%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 9px;
  background-color: #ee4312;
  border-radius: 7px;
}

/*---------success-----*/

.success {
  background-color: #f5f7ff;
  padding: 70px 60px;
  /* margin: 30px; */
}
.clients {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.clientstop h1 {
  color: black;
  font-size: 37px;
  line-height: 30px;
  font-weight: 650;
  font-family: "mona-sans", sans-serif;
}

.clientstop p {
  margin-top: 20px;
  font-family: "mona-sans", sans-serif;
  line-height: 2;
  color: rgb(112, 106, 106);
  width: 60%;
}
.link2 {
  text-decoration: none;
  margin-top: 30px;
  background-color: #ee4312;
  color: #ffffff;
  border: 3px solid #ee4312;
  border-radius: 10px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "mona-sans", sans-serif;
  align-self: center;
}
.clients2 {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 20px;
}

.clientstop2 {
  margin-top: 80px;
  flex: 1;
  font-family: "mona-sans", sans-serif;
  text-align: center;
}
.clientstop2 h1 {
  margin-top: 20px;
}
.clientstop2 p {
  margin-top: 20px;
  line-height: 2;
  color: rgb(100, 99, 99);
}
.clientstop2 img {
  margin-left: 30px;
}

/*------benefits----*/

.benefit {
  background: #0e1947;
  padding: 70px 60px;
  font-family: "mona-sans", sans-serif;
}

.benefits1 {
  display: flex;
  justify-content: space-between;
  gap: 6%;
  margin-left: 50px;
  /* Ensure space between the two columns */
}

.left-column {
  flex: 1; /* Take up remaining space */
  margin-right: 20px; /* Optional: Add some space between columns */
  /* border: 1px solid blue; */
}

.right-column {
  flex: 1; /* Take up remaining space */
  /* border: 1px solid red; */
}

.benefits-header,
.benefits-header2 {
  margin-bottom: 20px;
}

.benefits-header {
  width: 100%;
}

.benefits-header h1,
.benefits-header p {
  color: white;
  font-family: "mona-sans", sans-serif;
}

.benefits-header h1 {
  margin-top: 80px;
  font-size: 40px;
  font-family: "mona-sans", sans-serif;
}

.benefits-header p {
  margin-top: 20px;
  font-size: 16px;
  font-family: "mona-sans", sans-serif;
  line-height: 2;
  margin-bottom: 50px;
}

.benefits-header2 {
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: 100%; /* Adjust to fit within the column */
  background: white;
  padding: 10px;
  gap: 3%;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.benefits-header2 h3 {
  margin-bottom: 15px;
}
.benefits-header2 p {
  line-height: 1.6;
  color: rgb(68, 64, 64);
}
.benefit-image {
  /* width: 500px; */
  width: 80%;
}

/*-------client----*/
.client-section {
  padding-top: 150px;
  background-color: #f5f7ff;
  padding-left: 50px;
}
.clients-header {
  margin-left: 70px;
}
.clients-header h1 {
  font-size: 27px;
  font-weight: 200px;
  font-family: "mona-sans", sans-serif;
}
.clients-header p {
  font-family: "mona-sans", sans-serif;
  width: 550px;
  margin-top: 15px;
  line-height: 1.5;
}
.clients1 {
  display: flex;
  align-items: center;
  width: 1500px;
  justify-content: space-between;
}
.client-image {
  display: flex;
  align-items: flex-end;
}
.clients2 {
  display: flex;
  justify-content: flex-start;
}

.clients-header2 p {
  border-top-left-radius: 10px; /* Adjust the radius as needed */
  border-top-right-radius: 10px;
  line-height: 1.5;
  color: black;
  margin-top: 50px;
  border: 2px solid white;
  width: 450px;
  padding: 30px;
  background: white;
  font-family: "mona-sans", sans-serif;
}
.clients3-header {
  color: white;
  margin-left: 20px;
  padding: 20px;
  font-family: "mona-sans", sans-serif;
}
.clients3-header h1 {
  font-size: 19px;
  font-weight: 600;
}
.clients3-header p {
  margin-top: 20px;
  font-weight: 200;
}
.clients3-row {
  display: flex;
  align-items: center;
  background: orangered;
  width: 450px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.clients3-image {
  width: 80px;
  margin-left: 10px;
}
.clients3-icons {
  width: 130px;
  margin-left: 150px;
  margin-top: 10px;
}
.clients-columns {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

/*-----collaborative-----*/

.collaborate-header {
  padding-left: 90px;
  padding-right: 40px;
  flex-basis: 50%;

  background-color: #0e1947;
  color: #fff;
  font-family: "mona-sans", sans-serif;
}
.collaborate-header h1 {
  padding-top: 70px;
  width: 330px;
  font-size: 32px;
  font-weight: 800;
}
.collaborate-header p {
  width: 400px;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.col-link {
  text-decoration: none;
  display: block;
  margin-top: 40px;
  background-color: #ee4312;
  width: 170px;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
}
.collaborate-columns {
  display: flex;
  flex-basis: 100%;
  margin: 20px;
}
.col-image {
  flex-basis: 50%; 
  text-align: center;
}
.articles-row-header {
  display: flex;
  gap: 700px;
  align-items: center;
  padding-left: 70px;
  padding-top: 50px;
}
.articles-row-header h1 {
  font-family: "mona-sans", sans-serif;
  font-weight: 700;
  font-size: 27px;
}
.articles-row-header p {
  max-width: 490px;
  margin-top: 20px;
  line-height: 1.4;
  font-family: "mona-sans", sans-serif;
}
.articles-link {
  text-decoration: none;
  border: 2px solid orangered;
  border-radius: 8px;
  padding: 10px 20px;
  color: orangered;
  font-family: "mona-sans", sans-serif;
}
.articles-row2 {
  display: flex;
  margin-top: 30px;
  padding-left: 70px;
  gap: 50px;
}
.articles-row2-header h1 {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: "mona-sans", sans-serif;
}
.articles-row2-header img {
  width: 650px;
}
.articles-section {
  padding-bottom: 50px;
}

/*-------footer----*/
.footer {
  background: #162356;
}
.fooer-header h1 {
  color: #fff;
  font-family: "mona-sans", sans-serif;
  width: 350px;
  padding-top: 80px;
  padding-left: 60px;
  line-height: 1.5;
  font-size: 27px;
}
.footer-row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-icons img {
  width: 250px; /* Adjust image width as needed */
  margin-left: 10px; /* Add spacing between link and image */
}
.footer-link {
  width: 70px;
  background-color: #ee4312;
  border-radius: 8px;
  padding: 10px;

  color: #fff;
  text-decoration: none;
  font-family: "mona-sans", sans-serif;
}

.footer-links {
  background: #162356;
  font-weight: 400;
  width: 400px;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 40px;
  justify-content: space-evenly;
  font-family: "mona-sans", sans-serif;
}
.footer-links2 {
  background: #162356;
  font-weight: 200;

  width: 1300px;
  display: flex;
  list-style: none;
  margin-top: 30px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  font-family: "mona-sans", sans-serif;
}
.full-width-border {
  width: 80%; /* Adjust the width as needed, e.g., 90% to cover almost the entire width */
  height: 2px; /* Adjust the height to make the border thicker or thinner */
  background-color: orangered; /* Change the color to whatever you prefer */
  margin-top: 20px; /* Adjust the top margin to position the border */
  margin-bottom: 20px;
  margin-left: 60px;
}
.footer-logo {
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 10px;
}
